:root {
  --color-white-main: #ffffff;
  --color-black-main: #111119;
  --color-gray-light: #e1e1e1;
  --color-gray-main: #88888c;
  --color-blue--accent: #2e67ff;
  --color-success: #31a667;
  --color-alarm: #e95b2f;
}
