:root {
    --color-white-main: #FFFFFF;
    --color-black-main: #111119;
    --color-gray-light: #E1E1E1;
    --color-gray-main: #88888C;
    --color-blue--accent: #2E67FF;
    --color-success: #31A667;
    --color-alarm: #E95B2F;
}